<footer>
	<div class="container">
		<div class="footer-menu">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 heading">
					<h5>Ready to get started?</h5>
					<div><a href="#" class="btn btn-md btn-gold-gradient">Sign Up</a></div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3 col-sm-3 col-xs-4">
					<h6>Product</h6>
					<ul>
						<li><a href="#">Product Overview</a></li>
						<li><a href="#">Analytics</a></li>
						<li><a href="#">Payment Gateways</a></li>
						<li><a href="#">Payment Options</a></li>
						<li><a href="#">Integration Partners</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<h6>Company</h6>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Customers</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">In the News</a></li>
						<li><a href="#">Press Releases</a></li>
						<li><a href="#">Legal</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-4 last">
					<h6>Contact</h6>
					<ul>
						<li><a href="#">Request a Demo</a></li>
						<li><a href="#">Ask a Question</a></li>
						<li><a href="#">Support & Help</a></li>
						<li><a href="#" class="yellow">Try it free</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="logo">
						<img src="{{ site.baseurl }}/img/logo-monogram.png">
					</div>
					<div>
						Flute is proudly built and developed at the University of Toronto. 
						<br>© 2018 Flute Systems, Inc.
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<ul>
						<li><a href="#"><img src="{{ site.baseurl }}/img/fb.png"></a></li>
						<li><a href="#"><img src="{{ site.baseurl }}/img/twitter.png"></a></li>
						<li><a href="#"><img src="{{ site.baseurl }}/img/linkedin.png"></a></li>
					</ul>
					<div>
						<input type="text" class="btn-gold-outline btn-sm" placeholder="E-mail to Subscribe">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>