// Our variables
$font-family-base: 'Gilroy-Medium';
$sanspro: 'Source Sans Pro';
$material: 'Material Icons';
$gilroy-bold: 'Gilroy-Bold';

$font-size-base: 16px;
$font-size-base-large: floor(($font-size-base * 1.25));
$font-size-h1: floor(($font-size-base * 3.5));
$font-size-h1-mobile: floor(($font-size-base * 2.25));
$font-size-h1-tablet: floor(($font-size-base * 2.375));
$font-size-h2: 38px;
$font-size-h2-mobile: floor(($font-size-base * 1.98));
$font-size-h3: floor(($font-size-base * 1.5));
$font-size-small: floor(($font-size-base * 0.75));
$line-height-base: 1.5;

$text-color: #212322;
$border-color: #ebebeb;

$white: #fff;
$green: #2d6b32;
$gold: #d29f13;
$silver: #b9bbbb;
$red: #d0021b;
$charcoal: #212322;

$bg-color: rgba(185, 187, 187, 0.06);
